
/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face{
font-family:Roboto-Regular;
src: url('../fonts/roboto/Roboto-Regular.ttf'); 
}

@font-face{
font-family:Roboto-Medium;
src: url('../fonts/roboto/Roboto-Medium.ttf'); 
}

@font-face{
font-family:Roboto-Bold;
src: url('../fonts/roboto/Roboto-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

/* ------------------------------------ */
a{margin:0px}
a:focus{outline:none !important}
a:hover{text-decoration:none}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin:0px}

p{margin:0px}

ul,li{
margin:0px;
list-style-type:none
}

textarea{
display:block;
outline:none
}

textarea:focus,input:focus{border-color:transparent !important}

/* ------------------------------------ */
button{
outline:none !important;
border:none;
background:transparent
}

button:hover{cursor:pointer}

iframe{border:none !important}

/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll{
position:relative;
overflow:hidden
}

.table100 .ps__rail-x{
z-index:0;
height:6px;
background-color:transparent;
opacity:1 !important;
bottom:10px
}

.table100 .ps__rail-x::before{
content:"";
display:block;
position:absolute;
background-color:#e6e6e6;
height:100%;
width:calc(100% - 30px);
left:15px;
top:0px
}

.table100 .ps__rail-x .ps__thumb-x{
z-index:1;
height:100%;
bottom:0;
background-color:transparent;
opacity:1 !important
}

.table100 .ps__rail-x .ps__thumb-x::before{
z-index:1;
content:"";
display:block;
position:absolute;
background-color:#b3b3b3;
height:100%;
width:calc(100% - 30px);
top:0;
left:15px
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter{
width:100%;
margin:0% auto;
background:#fa71cd;
background:-webkit-linear-gradient(bottom,#c471f5,#fa71cd);
background:-o-linear-gradient(bottom,#c471f5,#fa71cd);
background:-moz-linear-gradient(bottom,#c471f5,#fa71cd);
background:linear-gradient(bottom,#c471f5,#fa71cd)
}

.wrap-table100{width:100%}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100{background-color:#fff}
table{width:100%}
th,td{font-weight:unset;padding-right:10px}

.track{width:275px;text-align:center}
.music{width:225px;text-align:center}
.lyrics{width:225px;text-align:center}
.artist{width:225px;text-align:center}
.length{width:90px;text-align:center}
.play{width:140px;text-align:center}
.iswc{width:140px;text-align:center}
.isrc{width:140px;text-align:center}
.upc{width:140px;text-align:center}
.recording_date{width:130px;text-align:center}
.producer{width:225px;text-align:center}
.recording_studio{width:250px;text-align:center}
.recorded_by{width:225px;text-align:center}
.arranger_manager{width:225px;text-align:center}
.instruments{width:250px;text-align:center}
.programmers{width:225px;text-align:center}
.dubbing_engineer{width:225px;text-align:center}
.mixing_and_mastering{width:225px;text-align:center}
.music_assistant{width:225px;text-align:center}
.video_director{width:225px;text-align:center}
.additional_info{width:275px;text-align:center}

.table100 th{
padding-top:21px;
padding-bottom:21px
}

.table100 td{
text-align:center;
padding-top:16px;
padding-bottom:16px
}


/*==================================================================
[ Fix col ]*/
.table100{
width:100%;
position:relative
}

.wrap-table100-nextcols{
width:100%;
overflow:auto;
padding-left:0px;
padding-bottom:28px
}

.table100-nextcols table{table-layout:fixed}

/*==================================================================
[ Ver1 ]*/

.table100.ver1 th{
font-family:Roboto-Bold;
font-size:14px;
color:red;
line-height:1.4;
text-transform:uppercase
}

.table100.ver1 td{
font-family:Roboto-Medium;
font-size:15px;
line-height:1.4
}

.table100.ver1 .table100-nextcols td{color:#999999}
.table100.ver1 tr{border-bottom:1px solid #f2f2f2}


/* Custom Medias */
@media only screen and (max-width: 800px){.table100.ver1 th{font-size:13px}.table100.ver1 td{font-size:13px;line-height:1.2}.track,.music,.lyrics,.artist,.length,.play,.iswc,.isrc,.upc,.recording_date,.producer,.recording_studio,.recorded_by,.arranger_manager,.instruments,.programmers,.dubbing_engineer,.mixing_and_mastering,.music_assistant,.video_director,.additional_info{width:175px}}
@media only screen and (max-width: 500px){.table100.ver1 th{font-size:11px}.table100.ver1 td{font-size:11px}.table100 td{padding-top:8px;padding-bottom:8px}.track,.music,.lyrics,.artist,.length,.play,.iswc,.isrc,.upc,.recording_date,.producer,.recording_studio,.recorded_by,.arranger_manager,.instruments,.programmers,.dubbing_engineer,.mixing_and_mastering,.music_assistant,.video_director,.additional_info{width:120px}}
